/* Top CSS */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  }

/* HEADER */

header {
  height: 120px;
  background-color: rgba(255, 77, 77, 0.3);
  margin-bottom: 15px;
  border-radius: 10px;
}

.header-nav .logo {
  display: inline-block;
  width: 20%;
  height: 100px;
  padding: 10px;
  text-align: left;
}

.header-nav .header-menu {
  display: inline-block;
  text-align: right;
  width: 75%;
}

.header-menu li {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  padding: 15px;
}

/* CONTENITORE */

.domodossola {
  background-image: image("../img/domodossola.jpg");
  background-size: auto;
  height: 200px;
  width: 100%;
}

.omegna {
  background-image: image("../img/omegna.jpg");
  background-size: auto;
}

.verbania {
  background-image: image("../img/verbania.jpg");
  background-size: auto;
}



.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233,233,240,0.2);
}
